/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2.5vw;
}
h2 {
  font-size: 3.0vh;}

.dockpanel{
	background-color:navy;
width:2024px;
height: 1000px;
}

.headline{

font-size:45px;
color:navy;	
	    border-style: dotted;
    border-width: 4px;
	
	
}
.verticalpanel{
	border-style:none;
	border-width:4px;
}

.table{
	
	border-style:solid;
	border-with:4px
}
.l1{
	
 
    font-size:30px;
    padding-top: 50px;
    padding-right: 35px;
    padding-bottom: 50px;
    padding-left: 35px;
    text-align:center;
}
.l2{
	   
    padding-top: 50px;
        font-size:30px;
    
    padding-right: 35px;
    padding-bottom: 50px;
    padding-left: 35px;
      margin-right: 150px;
    margin-left: 150px;
        text-align:center;
    
}
.l3{

        font-size:30px;
    
    padding-top: 50px;
    padding-right: 35px;
    padding-bottom: 50px;
    padding-left: 35px;
        text-align:center;
    
}
.gwt-Button {
    display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-bottom: 20px;
 margin-top: 20px;
  
    }
 .button:hover {
 background-color: #3e8e41
}
.image{
	    border-style: none;
    border-width: 4px;
    margin-right:1px;
    width:200px;
    height:200px;
}

.label{
	
	font-size:56px;
	color:navy;
	    margin-right:1px;
	
	    border-style: none;
    border-width: 4px;
}
.tabpanel{
	
	border-style:dotted;
	margin-left:150px;
	width:1500px;
	height:900px;
	
}




.tabpanel-activeNavItem {
    background: red;
    font-color:blue;
}

.header{
	
    border-style: none;
    border-width: 4px;
	
}
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}














