/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2.5vw;
}
h2 {
  font-size: 3.0vh;}

.dockpanel{
	background-color:navy;
width:2024px;
height: 1000px;
}

.headline{

font-size:45px;
color:navy;	
	    border-style: dotted;
    border-width: 4px;
	
	
}
.verticalpanel{
	border-style:dotted;
	border-width:4px;
}

.table{
	
	border-style:solid;
	border-with:4px
}
.l1{
	
 
    font-size:30px;
    padding-top: 50px;
    padding-right: 35px;
    padding-bottom: 50px;
    padding-left: 35px;
    text-align:center;
}
.l2{
	   
    padding-top: 50px;
        font-size:30px;
    
    padding-right: 35px;
    padding-bottom: 50px;
    padding-left: 35px;
      margin-right: 150px;
    margin-left: 150px;
        text-align:center;
    
}
.l3{

        font-size:30px;
    
    padding-top: 50px;
    padding-right: 35px;
    padding-bottom: 50px;
    padding-left: 35px;
        text-align:center;
    
}
.gwt-Button {
    display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-bottom: 20px;
 margin-top: 20px;
  
    }
 .button:hover {
 background-color: #3e8e41
}
.image{
	    border-style: none;
    border-width: 4px;
    margin-right:1px;
    width:200px;
    height:200px;
}

.label{
	
	font-size:56px;
	color:navy;
	    margin-right:1px;
	
	    border-style: none;
    border-width: 4px;
}
.tabpanel{
	
	border-style:dotted;
	margin-left:150px;
	width:1500px;
	height:900px;
	
}




.tabpanel-activeNavItem {
    background: red;
    font-color:blue;
}

.header{
	
    border-style: none;
    border-width: 4px;
    border-style: dotted;
	
}
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
.button{
	
	   background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom:10px;
}
.gwt-DatePicker {
   border: 1px solid #ccc;
   border-top:1px solid #999;
   cursor: default;
}
.gwt-DatePicker td,
.datePickerMonthSelector td:focus {
   outline: none;
}
.datePickerMonthSelector td:focus {
   outline: none;
}
.datePickerDays {
   width: 100%;
   background: white;
}
.datePickerDay,
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
   font-size: 85%;
   text-align: center;
   padding: 4px;
   outline: none;
   font-weight:bold;
   color:#333;
   border-right: 1px solid #EDEDED;
   border-bottom: 1px solid #EDEDED;
}
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
   background: #fff;
   padding: 0px 4px 2px;
   cursor: default;
   color:#666;
   font-size:70%;
   font-weight:normal;
}
.datePickerDay {
   padding: 4px 7px;
   cursor: hand;
   cursor: pointer;
}
.datePickerDayIsWeekend {
   background: #f7f7f7;
}
.datePickerDayIsFiller {
   color: #999;
   font-weight:normal;
}
.datePickerDayIsValue {
   background: #d7dfe8;
}
.datePickerDayIsDisabled {
   color: #AAAAAA;
   font-style: italic;
}
.datePickerDayIsHighlighted {
   background: #F0E68C;
}
.datePickerDayIsValueAndHighlighted {
   background: #d7dfe8;
}
.datePickerDayIsToday {
   padding: 3px;
   color: #00f;
   background: url(images/hborder.png) repeat-x 0px -2607px;
}
.datePickerMonthSelector {
   width: 100%;
   padding: 1px 0 5px 0;
   background: #fff;
}
.datePickerPreviousButton,
.datePickerNextButton {
   font-size: 120%;
   line-height: 1em;
   color: #3a6aad;
   cursor: hand;
   cursor: pointer;
   font-weight: bold;
   padding: 0px 4px;
   outline: none;
}
td.datePickerMonth {
   text-align: center;
   vertical-align: middle;
   white-space: nowrap;
   font-size: 100%;
   font-weight: bold;
   color: #333;
}
.gwt-DateBox {
   padding: 5px 4px;
   border: 1px solid #ccc;
   border-top: 1px solid #999;
   font-size: 100%;
}
.gwt-DateBox input {
   width: 8em;
}
.dateBoxFormatError {
   background: #ffcccc;
}













