<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

 
  <welcome-file-list>
    <welcome-file>Vehikel.html</welcome-file>
  </welcome-file-list>

 <servlet>
    <servlet-name>neu</servlet-name>
    <servlet-class>de.hdm.VehicleRental.server.MyUserServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>neu</servlet-name>
    <url-pattern>neu/neu</url-pattern>
  </servlet-mapping>


</web-app>